fastapi
uvicorn
pydantic
python-multipart
transformers==4.45.2
accelerate
autoawq
bitsandbytes
sentence-transformers==2.7.0
chromadb
psutil
python-docx
python-pptx
openpyxl
huggingface_hub
torch
PyMuPDF
pytesseract
Pillow
reportlab
numpy<2.0
einops
opencv-python
